@import "shared";

.profileFigure {
  text-align: center;
  width: 100%;
}

.profileFigure a {
  font-family: $main-title;
  font-size: 30px;
  color: black;
}

.profileFigure img {
  width: 200px;
  @media screen and (max-width: $small-screen) {
    width: 150px;
  }
}

.team {
  display: flex;
  width: 100%;
  @media screen and (max-width: $small-screen) {
    flex-direction: column;
  }
}

.about-us {
  font-family: $main-title;
  margin-right: 10%;
  margin-left: 10%;
}

