@import "shared";

.banner {
  color: white;
  display: inline-flex;
  font-family: $main-title;
  backdrop-filter: blur(10px);
  width: 100%;
  position: fixed;
  background-color: rgba(34, 101, 136, 0.8);
  //background-color: white;
}

/*LEFT*/

.banner .left {
  display: inline-flex;
  float: left;
}


.banner .left img {
  width: 40px;
  height: 40px;
  padding: 15%;
}

.banner .left h1 {
  vertical-align: middle;
  margin-left: 0;
}

.asgard-dns-name {
  color: $main-color;
}

/*RIGHT*/

.banner .right {
  display: inline-flex;
  position: absolute;
  float: right;
  right: 0;
}

.link-banner {
  padding: 20px;
  color: white;
  font-size: 1.5em;
}

.link-banner {
  color: $main-color;
}

