@import "shared";

.banner {
  width: 100%;
  color: black;
  background-color: transparent;
  display: inline-flex;
  font-family: $main-title;
}

/*LEFT*/

.banner .left {
  display: inline-flex;
  float: left;
}

.banner .left img {
  width: 70px;
  height: 70px;
}

.banner .left h1 {
  vertical-align: middle;
  margin-left: 0;
}

.asgard-dns-name {
  color: $main-color;
}

/*RIGHT*/

.banner .right {
  display: inline-flex;
  position: absolute;
  float: right;
  right: 0;
}

.link-banner {
  padding: 20px;
  color: black;
  font-size: 1.5em;
}

.link-banner {
  color: $main-color;
}