@import url("https://fonts.googleapis.com/css?family=Teko");

@keyframes typing {
    from {
        width: 0
    }
    to {
        width: 100%;
    }
    100% {
        delay: 10%;
    }
}

.content {
    width: 100%;
    display: inline-flex;
    font-family: "Teko", serif;
    font-size: 2em;
}

/*LEFT*/

.content .left {
    float: left;
    width: 100%;
    text-align: center;
    top: 0;
}


.asgard-dns-name {
    color: #22aadd;
}

.download-btn {
    padding: 10px;
    background-color: #22aadd;
}

.content .content-left {
    padding: 10%;
}

/*RIGHT*/

.content .right {
    padding: 10%;
    float: right;
    right: 0;
}

.content .right img {
    width: 500px;
}
