@import url("https://fonts.googleapis.com/css?family=Teko");

.content {
    width: 100%;
    display: inline-flex;
    font-family: "Teko", serif;
    font-size: 2em;
}

/*LEFT*/

.content .left {
    float: left;
    width: 100%;
    text-align: center;
    top: 0;
}

.asgard-dns-name {
    color: #22aadd;
}

.download-btn {
    padding: 10px;
    background-color: #22aadd;
}

.content .content-left {
    padding: 50px;
}

/*RIGHT*/

.content .right {
    padding: 50px;
}

.content .right img {
    width: 400px;
}
