@import "shared";

.content {
  width: 100%;
  display: inline-flex;
  font-family: $main-title;
  font-size: 2em;
}

/*LEFT*/

.content .left {
  float: left;
  width: 100%;
  text-align: center;
  top: 0;
}


.asgard-dns-name {
  color: $main-color;

}

.downloads {
  display: inline-flex;
  @media screen and (max-width: $small-screen) {
    display: list-item;
    list-style: none;
  }
}

.download-content {
  padding: 10px;
}

.download-btn {
  padding: 10px;
  background-color: $main-color;
  color: white;
  text-decoration: none;
  width: 100%;
}

.download-btn:hover {
  background-color: black;
}

.github-btn {
  background-color: black;
  color: white;
  padding: 10px;
}

@media screen and (max-width: $small-screen) {
  .download-btn, .github-btn {
    padding: 5px;
    width: 100%;
    font-size: 30px;
  }
}

.github-btn:hover {
  background-color: white;
  color: black;
}

.content .content-left {
  padding: 10%;
}

/*RIGHT*/

.content .right {
  padding: 10%;
  float: right;
  right: 0;
}

.content .right img {
  width: 500px;
}


.main-title {
  background-color: white;
}

.important, .important-content {
  border-radius: 15px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.important-title {
  background-color: #003a64;
  color: #ff9900;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.important-content {
  background-color: white;
  border: #003a64;
  box-shadow: -1px 2px 5px 1px #003a64;
}

.important-content .inline {
  display: inline-flex;
}

.inline-left {
  text-align: left;
  width: 100%;
}

.inline-right {
  right: 0;
  float: right;
  text-align: right;
  width: 100%;
}


.inline-right, .inline-left {
  @media screen and (max-width: $small-screen) {
    text-align: left;
    float: left;
    padding: 30px;
  }
}

.image-container {
  @media screen and (max-width: $small-screen) {
    display: none;
  }
}

.inline-right img, .inline-left img {
  width: 250px;
  @media screen and (max-width: $small-screen) {
    display: none;
    width: 0;
  }
}
