@import "shared";

body, html {
  height: 100%;
}

body {
  margin: 0;
  background-image: $background_image;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}