@import url("https://fonts.googleapis.com/css?family=Teko");

$main-color: #22aadd;
$main-title: "Teko", sans-serif;
$background_image: url('../Images/background.png');

$small-screen: 700px;
$medium-screen: 900px;